main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 184, 108);
  color: white;
}

.title {
  font-size: 2rem;
}

button{
  background: transparent;
  border: 2px solid white;
  font: inherit;
  cursor: pointer;

}

.value {
  color: rgb(244, 242, 255);
  width: 250px;
  height: 100px;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: 500;
  transition: all ease-in 0.1s;
}
.value:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.counter {
  display: flex;
  align-items: center;

}



.count {
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: rgb(0, 0, 0);
  border: none;
  display: flex;         /* activamos flexbox */
  align-items: center;   /* centra verticalmente */
  justify-content: center;
  margin: 0;
}
 

.minus, .plus {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: gray;
  color: white;
}

.minus {
  margin-left: 0px;
  position: relative;
  top: 40px;
  left:30px;
}

.plus {
  margin-right: 0px;
   position: relative;
  top: 40px;
  right:30px;
}